<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="2.16.0.0" targetFramework="net45" />
  <package id="ibm.data.informix_x86" version="3.0.0.2" targetFramework="net45" />
  <package id="Selenium.Support" version="2.53.1" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net45" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.22.0.0" targetFramework="net45" />
</packages>